In [1]:
import numpy as np
import pandas as pd
import helper_functions as helper

In [2]:
dec_df = helper.load_params("/Users/jonathan/Desktop/Papi_data_science/data/parameter_values_decathlon.txt")
dec_df

   event event_type          a      b     c     h
0   100m      track  25.434700   18.0  1.81  0.24
1     lj      field   0.143540  220.0  1.40  0.00
2     sp      field  51.390000    1.5  1.05  0.00
3     hj      field   0.846500   75.0  1.42  0.00
4   400m      track   1.537750   82.0  1.81  0.14
5  110mh      track   5.745352   28.5  1.92  0.24
6     dt      field  12.910000    4.0  1.10  0.00
7     pv      field   0.279700  100.0  1.35  0.00
8     jt      field  10.140000    7.0  1.08  0.00
9  1500m      track   0.037680  480.0  1.85  0.00

In [3]:
hep_df = helper.load_params("/Users/jonathan/Desktop/Papi_data_science/data/parameter_values_heptathlon.txt")
hep_df

       event  event_type      a      b     c
100mh  track    9.230760   26.7  1.835  0.24
hj     field    1.845230   75.0  1.348  0.00
sp     field   56.021100    1.5  1.050  0.00
200m   track    4.990870   42.5  1.810  0.24
lj     field    0.188807  210.0  1.410  0.00
jt     field   15.980300    3.8  1.040  0.00
800m   track    0.111930  254.0  1.880  0.00

In [4]:
dec_track_rows = dec_df[dec_df["event"] == "hj"].iloc[0]
type(dec_track_rows)

pandas.core.series.Series

In [5]:
dec_row = dec_df.iloc[3]
a = dec_row["a"]
b = dec_row["b"]
c = dec_row["c"]

In [6]:
a, b, c

(np.float64(0.8465), np.float64(75.0), np.float64(1.42))

In [7]:
int(a * (200 - b) ** c)

803

In [8]:
test_string = "11.4546"
test_string_components = test_string.split(".")
whole_seconds = test_string_components[0]
decimal_seconds = test_string_components[1]

In [9]:
decimal_seconds[2:]

'46'

In [10]:
11.99 + 0.01

12.0

In [17]:
string = "110000"

In [21]:
minutes_string = string.split(":", maxsplit=1)
minutes_string

['110000']

In [16]:
time_to_test = "11,761s"
correct_time = helper.parse_time_to_seconds(time_to_test)
correct_time

'11.77'

In [14]:
result_string = "j j "

result_string_clean = result_string.replace(" ", "")
result_string_clean

'jj'

In [15]:
correct_time[:-1]

'11.7'