In [1]:
import numpy as np
import pandas as pd
import helper_functions as helper

In [8]:
dec_df = helper.load_params("/Users/jonathan/Desktop/Papi_data_science/data/parameter_values_decathlon.txt")
dec_df

           event event_type          a      b     c
0           100m      track  25.434700   18.0  1.81
1      long_jump      field   0.143540  220.0  1.40
2       shot_put      field  51.390000    1.5  1.05
3      high_jump      field   0.846500   75.0  1.42
4           400m      track   1.537750   82.0  1.81
5   110m_hurdles      track   5.745352   28.5  1.92
6   discus_throw      field  12.910000    4.0  1.10
7     pole_vault      field   0.279700  100.0  1.35
8  javelin_throw      field  10.140000    7.0  1.08
9          1500m      track   0.037680  480.0  1.85

In [7]:
hep_df = helper.load_params("/Users/jonathan/Desktop/Papi_data_science/data/parameter_values_heptathlon.txt")
hep_df

           event event_type          a      b      c
0           200m      track   4.990870   42.5  1.810
1           800m      track   0.111930  254.0  1.880
2   100m_hurdles      track   9.230760   26.7  1.835
3      high_jump      field   1.845230   75.0  1.348
4      long_jump      field   0.188807  210.0  1.410
5       shot_put      field  56.021100    1.5  1.050
6  javelin_throw      field  15.980300    3.8  1.040

In [12]:
dec_track_rows = dec_df[dec_df["event_type"] == "track"]
dec_track_rows

          event event_type          a      b     c
0          100m      track  25.434700   18.0  1.81
4          400m      track   1.537750   82.0  1.81
5  110m_hurdles      track   5.745352   28.5  1.92
9         1500m      track   0.037680  480.0  1.85